/* hero */

.hero-title{
    color: var(--white-text-color);
    background-color:rgba(47, 48, 58, 1) ;

    font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.4;  
        text-align: center;
        letter-spacing: 0.06em;
        
}
 .button {
     color: var(--white-text-color);
     background-color: var(--secondary-logo-color);
        
     font-family: 'Roboto';
        font-weight: 700;
        font-size: 16px;
        line-height: 1.9;
        letter-spacing: 0.06em;
 }

/* main */

.section-title {
    color: var(--primary-text-color);

    font-family: 'Roboto';
        font-weight: 700;
        font-size: 36px;
        line-height: 1.2;
        text-align: center;
}


/* features */
.feature .text {
color: var(--secondary-text-color);

font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.7;
    
}
.feature-title {

    font-family: 'Roboto';
        font-weight: 700;
        font-size: 14px;
        line-height: 1.1;
  }

/* team */
.team .text {
color: var(--secondary-text-color);

font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.2;
    
}

.team-title {
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.7;
   }
