/* filter */

.filter button:hover,
.filter button:focus {
    color: #FFFFFF;
    background-color: var(--secondary-logo-color);
}

button {
    color: #212121;
    background-color: rgba(245, 244, 250, 1);

    font-family: 'Roboto';
        font-weight: 500;
        font-size: 16px;
        line-height: 1.6;
}

button {
    cursor: pointer;
}

/* work */

    
.title {
color: #212121;

    font-family: 'Roboto';
        font-weight: 700;
        font-size: 18px;
        line-height:2;
        letter-spacing: 0.06em;
}

.text {
    color: #757575;

    font-family: 'Roboto';
        font-size: 16px;
        line-height: 1.8;
}

